<body>
  <ion-header><app-header></app-header> </ion-header>

  <ion-content  fullscreen>
    <div class="container cont-chat bg-sala-a">
     
      <div class="row" style="max-height: 65vh; overflow-y: auto;">
        <div class="col">
          <div #salachat class="mensajes" >
        
            <div class="row m-1" >
              <div class="col">
                <div class="alert alert-primary p-1 text-end mi-mensaje" >
                  <!-- <p class="mb-0 "><small>{{mje.fecha | date:'short'}}</small></p>
                  <p class="mb-0 "> {{mje.message}}</p>  -->
                </div>
      
                <div class="alert alert-warning p-1 su-mensaje" >
                  <!-- <p class="mb-0"><strong>{{mje.userName}}: </strong><small>{{mje.fecha | date:'short'}}</small></p>
                  <p class="mb-0"> {{mje.message}}</p> -->
                </div>
              </div>        
            </div>          
          </div> 
        </div>
      </div>
  
      <div class="row input-row">
        <div class="col">
           <!-- <form [formGroup]="chatForm" (ngSubmit)="enviarMje()">  -->
            <form >
            <!-- <input type="text" value="incomplete" class="form-control mje-ctrl" id="floatingInput" placeholder="Escriba aquí su mensaje" [(ngModel)]="mensaje" formControlName="messageCtrl">  -->
            <input type="text" value="incomplete" class="form-control mje-ctrl" id="floatingInput" placeholder="Escriba aquí su mensaje" formControlName="messageCtrl"> 

            <br>     
            <br>
            <button type="submit" class="w-100 btn btn-lg btn-danger">Enviar</button>                
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</body>
