<body>
  <ion-header><app-header></app-header> </ion-header>

  <ion-content fullscreen>
    <div class="conversation ion-padding">
      <div class="chat-section" id="chat">
        <div class="chat">
            <div *ngFor="let mje of listaDeMensajes">
              <div class="mine messages"
                *ngIf="mje.idDelEnviador === idUsuarioActual"
              >
                <div class="message" *ngIf="esCliente">
                  <b>Mesa  {{mje.numeroDeMesa}}</b>
                  <br />
                  <span class="chat-time"> {{toDate(mje.fecha) | fechaToString}} </span>
                  {{mje.mensaje}}
                  <br>
                </div>
                <div class="message" *ngIf="esMozo">
                <b>Mozo: {{mje.nombreMozo}}</b>
                  <br />
                  <span class="chat-time"> {{toDate(mje.fecha) | fechaToString}} </span>
                  {{mje.mensaje}}
                  <br>
                </div>
              </div>

              <div class="yours messages"
                *ngIf="mje.idDelEnviador !== idUsuarioActual"
              >
                <div class="message other" *ngIf="esMozo">
                  <b>{{mje.numeroDeMesa === 0 ? 'Mozo '+mje.nombreMozo : 'Mesa '+mje.numeroDeMesa }}</b>
                  <br />
                  <span class="chat-time"> {{toDate(mje.fecha) | fechaToString}} </span>

                  {{mje.mensaje}}
                  <br>
                </div>
                <div class="message other" *ngIf="esCliente">
                  <b>{{mje.numeroDeMesa === 0 ? 'Mozo '+mje.nombreMozo : 'Mesa '+mje.numeroDeMesa }}</b>
                  <br />
                  <span class="chat-time"> {{toDate(mje.fecha) | fechaToString }} </span>
                  {{mje.mensaje}}
                  <br>
                </div>
              </div>
            </div>
        </div>
        <div class="message-input">
          <form [formGroup]="chatForm" (ngSubmit)="enviarMensaje()">
            <ion-input
              type="text"
              value="incomplete"
              id="floatingInput"
              placeholder="Escriba aquí su mensaje"
              [(ngModel)]="ngmensaje"
              formControlName="messageCtrl"
            >
            </ion-input>


          </form>
          <div class="send-button">
              <ion-button type="submit" (click)="enviarMensaje()">
                <ion-icon slot="icon-only" name="send"></ion-icon>
              </ion-button>

          </div>
        </div>

      </div>

    </div>
  </ion-content>
</body>
