<body>
  <ion-header><app-header></app-header> </ion-header>

  <ion-content  fullscreen>
    <div class="cont-chat bg-sala-a">
     
      <div class="row" style="max-height: 65vh; overflow-y: auto;">
        <div class="col">
          <div class="mensajes" *ngFor="let mje of listaDeMensajes">
        
            <div class="row m-1" >
              <div class="col">
                <div class="alert alert-primary p-1 text-end mi-mensaje" *ngIf="mje.idDelEnviador == idUsuarioActual">
                  <div *ngIf="esCliente">
                    <p class="mb-0 "><small>Mesa número: {{mje.numeroDeMesa}}</small></p>
                    <p class="mb-0 "><small>{{mje.fecha | date:'short'}}</small></p>
                    <p class="mb-0 "> {{mje.mensaje}}</p> 
                  </div>
                  <div *ngIf="esMozo">
                    <p class="mb-0 "><small>{{mje.nombreMozo}}</small></p>
                    <p class="mb-0 "><small>{{mje.fecha | date:'short'}}</small></p>
                    <p class="mb-0 "> {{mje.mensaje}}</p> 
                  </div>
                </div>
      
                <div class="alert alert-warning p-1 su-mensaje" *ngIf="mje.idDelEnviador != idUsuarioActual">
                  <div *ngIf="esMozo">
                    <p class="mb-0 "><small>Mesa número: {{mje.numeroDeMesa}}</small></p>
                    <p class="mb-0 "><small>{{mje.fecha | date:'short'}}</small></p>
                    <p class="mb-0 "> {{mje.mensaje}}</p> 
                  </div>
                  <div *ngIf="esCliente">
                    <p class="mb-0 "><small>{{mje.nombreMozo}}</small></p>
                    <p class="mb-0 "><small>{{mje.fecha | date:'short'}}</small></p>
                    <p class="mb-0 "> {{mje.mensaje}}</p> 
                  </div>
                </div>
              </div>        
            </div>          
          </div> 
        </div>
      </div>
  
      <div class="row input-row">
        <div class="col">
           <form [formGroup]="chatForm" (ngSubmit)="enviarMensaje()"> 
            
            <input type="text" value="incomplete" class="form-control mje-ctrl" id="floatingInput" placeholder="Escriba aquí su mensaje" [(ngModel)]="ngmensaje" formControlName="messageCtrl">  

            <br>     
            <br>
            <button type="submit" class="w-100 btn btn-lg btn-danger">Enviar</button>                
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</body>
