<ion-tabs>
  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="esCliente && verEncuesta"  tab="menu-productos">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>


    <!-- Boton vacio para colocar el qr -->
    <ion-tab-button *ngIf="esCliente" class="empty-tab-button"></ion-tab-button>

    <ion-tab-button *ngIf="esMaitre || esDuenio || esSupervisor" tab="signup/{{queAlta}}">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Alta {{queAlta}}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="esCliente && verJuegos"  tab="juegos">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

  <ion-fab *ngIf="esCliente"  class="fab-chat fab-encuesta"  slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="white" class="boton-encuesta">
      <ion-icon color="primary" name="megaphone-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- PONER EL verChat ANTES DE ENTREGAR -->
  <ion-fab *ngIf="(esCliente || esMozo) && verChat" class="fab-chat"  slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="white" class="boton-chat-mozo" (click)="irAlChat()">
      <ion-icon color="primary" name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-tabs>

<!-- <div class="fixed"> -->


  <ion-fab *ngIf="esCliente && !isKeyboardOpen" slot="fixed" vertical="bottom" horizontal="center" >
    <ion-fab-button (click)="escanearQR()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- </div> -->
  
  <div class="custom-spinner" *ngIf="isLoading" >
    <img src="../../../assets/spinner.png" alt="Spinner">
</div>
