<ion-tabs>
  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="verMenu"  tab="menu-productos">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>


    <!-- Boton vacio para colocar el qr -->
    <ion-tab-button *ngIf="esCliente" class="empty-tab-button"></ion-tab-button>

    <ion-tab-button *ngIf="esMaitre || esDuenio || esSupervisor" tab="signup/{{queAlta}}">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Alta {{queAlta}}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="verJuegos"  tab="juegos">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="esMozo" tab="chat">
      <ion-icon name="chatbox-ellipses"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

  <ion-fab *ngIf="verEncuesta"  class="fab-chat "  slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button id="popover-button" color="white" class="boton-encuesta" >
      <ion-icon color="primary" name="megaphone-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- PONER EL verChat ANTES DE ENTREGAR -->
  <ion-fab *ngIf="verChat" class="fab-chat fab-encuesta"  slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="white" class="boton-chat-mozo" (click)="irAlChat()">
      <ion-icon color="primary" name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-tabs>

<!-- <div class="fixed"> -->

  <ion-fab *ngIf="esCliente && !isKeyboardOpen" slot="fixed" vertical="bottom" horizontal="center" >
    <ion-fab-button (click)="escanearQR()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- </div> -->

  <div class="custom-spinner" *ngIf="isLoading" >
    <img src="../../../assets/spinner.png" alt="Spinner">
</div>





<ion-popover
trigger="popover-button"
triggerAction="click"
[dismissOnSelect]="true"
[animated]="true"
side="bottom"
alignment="end">
  <ng-template>
    <ion-content >
      <ion-list>
        <ion-item  [button]="true" [detail]="false" (click)="IrAGraficosEncuestas()">
          <ion-icon color="primary" name="bar-chart"></ion-icon>
          <ion-label style="padding: 10px;">Estadísticas</ion-label>
        </ion-item>
        <ion-item *ngIf="encuestaSrv.verLlenarEncuesta" [button]="true" [detail]="false" (click)="irACreacionEncuesta()">
          <ion-icon color="primary" name="newspaper"></ion-icon>
          <ion-label style="padding: 10px;">Llenar Encuesta</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
