<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <!-- Boton vacio para colocar el qr -->
    <ion-tab-button *ngIf="esCliente" class="empty-tab-button"></ion-tab-button>

    <ion-tab-button tab="mi-perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="esMaitre" tab="signup">
      <ion-icon name="person"></ion-icon>
      <ion-label>Dar alta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

  
</ion-tabs>

<ion-fab *ngIf="esCliente" slot="fixed" vertical="bottom" horizontal="center">
  <ion-fab-button (click)="escanearQR()">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="custom-spinner" *ngIf="isLoading" >
  <img src="../../../assets/spinner.png" alt="Spinner">
</div>