ion-card {
    margin: 15px 10px;
  }
  
  ion-card-header {
    font-weight: bold;
  }
  
  .fecha-texto {
    color: grey;
    font-style: italic;
    margin: 0;
    text-align: end;
  }
  
  .opinion {
    margin: 0;
    font-size: 16px;
  }
  .ion-text-center {
    text-align: center;
  }
  ion-list{
    margin-top: -20px;
    background: transparent;
  }

  ion-card-header{
    font-size: 20px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    justify-content: center;
    ion-avatar{
      margin-right: 15px;
    }
  }

  ion-card-content{
    font-size: 16px;
    padding: 10px;
  }

  .icono-grande {
    font-size: 18px;
  }

  ion-row{
    align-items: center;
  }
  ion-skeleton-text {
    --border-radius: 9999px;
    --background: rgba(188, 0, 255, 0.065);
    --background-rgb: 188, 0, 255;
  }

  ion-item{
    --background: transparent;
    --border-color: #c8c7cc00;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    // height: 100vh;
    flex-direction: column;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 20px);
    border-radius: 10px;
  }

  .custom-accordion-container {
    width: 95%; /* Ancho deseado del acordeón */
    margin: 13px auto; /* Centra el acordeón horizontalmente */

  }


.card-list {

    max-height: 80vh;
    overflow-y: auto;
  }

  ion-label{
    font-weight: bold;
    text-align: center;
  }
  ion-title{
    text-align: center;
    margin: 10px 0;
    padding-bottom: 15px;
  }

  ion-chip{
    font-size: 20px;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, black);
    --swiper-pagination-color: var(--ion-color-primary, #BF0000);
  }