<ion-title color="primary">Reseñas del lugar</ion-title>

      <ion-list
        *ngIf="
          !isLoading && listaEncuestas && listaEncuestas.length > 0;
          else noEncuestas
        "
        class="card-list"
      >
        <ion-card *ngFor="let encuesta of listaEncuestas">
          <ion-card-header>
            <ion-chip>
              <ion-avatar>
                <img [src]="encuesta.cliente.foto" alt="foto del cliente">
              </ion-avatar>
              <ion-label>{{ encuesta.cliente.nombre + ' ' + encuesta.cliente.apellido }}</ion-label>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-icon
                  *ngFor="let _ of getArray(encuesta.cantidadEstrellas)"
                  name="star"
                  color="warning"
                  class="icono-grande"
                ></ion-icon>
                <ion-icon
                  *ngFor="let _ of getArray(encuesta.estrellaFaltante)"
                  name="star-outline"
                  color="medium"
                  class="icono-grande"
                ></ion-icon>
              </ion-col>
              <ion-col class="fecha">
                <p class="fecha-texto">{{ encuesta.fechaFormateada }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="opinion">{{ encuesta.comentario }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <swiper-container
              pager="true"
              [loop]="true"
              [pagination]="true">
                <swiper-slide *ngFor="let imagen of encuesta.fotos" >
                  <img *ngIf="encuesta.fotos[0]" [src]="imagen" alt="Foto de la encuesta"  style="object-fit: cover;"/>
                </swiper-slide>
              </swiper-container>
             
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-list>



      <!-- spinner -->

      <ion-list *ngIf="isLoading">
        <ion-card>
          <ion-card-header>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-thumbnail>
                  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-thumbnail>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 80%"
                ></ion-skeleton-text>
              </ion-col>
              <ion-col>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 50%"
                ></ion-skeleton-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-skeleton-text
                  [animated]="true"
                  style="width: 30%"
                ></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-list>

  <ng-template #noEncuestas>
    <ion-item slot="content" *ngIf="!isLoading">
      <ion-label color="medium" class="ion-text-center"
        >Sé el primero en dejarnos una calificación!</ion-label
      >
    </ion-item>
  </ng-template>

  <!-- <div class="image-container">
    <ion-text color="primary">
      <h2>{{textoHome}}</h2>
    </ion-text>
    <img src="../../../assets/img/escanear.gif" alt="Escanear" />
  </div> -->

