<div class="container centrado">
  <ion-content [fullscreen]="true">
    <div id="container">
      <div class="miCurso flip-2-hor-top-1">División: 4A</div>
      <div>
        <img
          src="../../../assets/logo-animado.gif"
          alt="splash"
          class="icono heartbeat"
          width="40%"
        />
      </div>

        <div class="miNombre martin slide-right">Gonzalez Martin</div>
        <div class="miNombre alejandro slide-left">Alejandro Gallo</div>
        <div class="miNombre romina scale-up-center">Calani Romina</div>

    </div>
  </ion-content>
</div>
