.container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-image {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

body {
  background: url("../../../assets/img/fondoLogin.webp") no-repeat center center / cover;
}

.centrado {
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
}

ion-item {
  --ion-item-background: transparent !important;
}
