.container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-image {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

body {
  background: url("../../../assets/img/fondoLogin.webp") no-repeat center center / cover;
}

.centrado {
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
}

ion-item {
  --ion-item-background: transparent !important;
  color: white;

  ion-icon {
    color: white;
  }


}

.wrapform {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 200px); /* Ajusta este valor según sea necesario */
  overflow-y: auto; /* Permite desplazamiento si el contenido excede el máximo */
  min-height: 0; /* Agrega esta línea para solucionar problemas de desbordamiento  con flexbox*/
  margin-bottom: 20px;
}


/* Reducir el padding horizontal de ion-item */
ion-item {
  --padding-start: 0px; /* Ajusta este valor según tus necesidades */
  --padding-end: 0px;   /* Ajusta este valor según tus necesidades */
}

/* Reducir el padding vertical de ion-item */
ion-item {
  --padding-top: 0px; /* Ajusta este valor según tus necesidades */
  --padding-bottom: 0px; /* Ajusta este valor según tus necesidades */
}




/* Para el estado marcado */
ion-checkbox:checked {
  --checkbox-background-checked: white;
}

/* Para el estado no marcado */
ion-checkbox:not(:checked) {
  --checkbox-background: white;
}

/* Para el color del marcador */
ion-checkbox {
  --checkbox-checkmark-color: white;
}

.button-71 {
  margin-top: 5px;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

ion-icon {
  margin-right: 8px; // Ajusta este valor según sea necesario
}

ion-input {
  padding-left: 8px; // Ajusta este valor según sea necesario
}


/* Asegúrate de que el contenedor de la imagen tenga un tamaño definido */
.image-container {
  width:  130px; /* Ajusta el tamaño según sea necesario */
  height: 130px; /* Ajusta el tamaño según sea necesario */
  border-radius: 9999px; /* Hace que el contenedor sea circular */
  overflow: hidden; /* Asegura que nada se muestre fuera del contenedor circular */
}

/* Aplica object-fit para controlar cómo se redimensiona la imagen */
.image-container img {
  width: 100%; /* Ajusta la imagen para que llene el contenedor */
  height: 100%; /* Ajusta la imagen para que llene el contenedor */
  object-fit: cover; /* O 'contain', dependiendo de tus preferencias */
  border-radius: inherit; /* Hereda el border-radius del contenedor */
}
