<!-- <app-nav-bar  [titulo]="'Alta de Usuarios'" ></app-nav-bar> -->

<!-- <app-header *ngIf="esMaitre"></app-header> -->
<body class="centrado">
  <ion-icon *ngIf="verVolver"
    class="icon-volver"
    name="arrow-back-outline"
    (click)="volver()"
  ></ion-icon>
  <div class="container">
    <ion-card-header style="align-items: center; margin-top: 20px; min-width: 0; min-height: 0;">
      <div (click)="tomarFoto()" class="image-container">
        <img [src]="imageTomadaURL" alt="Imagen Tomada"/>
      </div>
      <ion-note *ngIf="imageTomadaURL === '../../../assets/img/whoAmI.png'"
        >Tomar Foto</ion-note
      >
      <!-- <ion-icon name="camera-outline" size="large"></ion-icon> -->
    </ion-card-header>
    <ion-button *ngIf="verScanner" color="warning" (click)="scanQR()">
      <ion-icon name="barcode-outline"></ion-icon><b>Escanear DNI</b>
    </ion-button>
    <div class="custom-spinner" *ngIf="isLoading">
      <img src="../../../assets/spinner.png" alt="Spinner" />
    </div>
    <ion-card-content>
      <div class="formulario">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
          <ion-item>
            <ion-icon name="pencil-outline"></ion-icon>
            <ion-input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre"
              formControlName="nombre"
            ></ion-input>
          </ion-item>
          <ion-note
            class="error-message"
            *ngIf="
        ((signupForm.controls['nombre'].hasError('required'))
        ||(signupForm.controls['nombre'].hasError('pattern'))
        )
        && signupForm.controls['nombre'].touched"
          >
            Debe ingresar un nombre válido
          </ion-note>
          <div *ngIf="verApellido">
            <ion-item>
              <ion-icon name="pencil"></ion-icon>
              <ion-input
                type="text"
                name="apellido"
                id="apellido"
                placeholder="Apellido"
                formControlName="apellido"
              ></ion-input>
            </ion-item>
            <ion-note
              class="error-message"
              *ngIf="
          ((signupForm.controls['apellido'].hasError('required'))
          ||(signupForm.controls['apellido'].hasError('pattern'))
          )
          && signupForm.controls['apellido'].touched
        "
            >
              Debe ingresar un apellido válido
            </ion-note>
          </div>
          <div *ngIf="verDni">
            <ion-item>
              <ion-icon name="id-card"></ion-icon>
              <ion-input
                type="number"
                name="dni"
                id="dni"
                placeholder="DNI"
                formControlName="dni"
              ></ion-input>
            </ion-item>
            <ion-note
              class="error-message"
              *ngIf=" signupForm.controls['dni'].hasError('required') && signupForm.controls['dni'].touched "
            >
              Debe ingresar un DNI válido
            </ion-note>
            <ion-note
              class="error-message"
              *ngIf="(signupForm.controls['dni'].hasError('max') || signupForm.controls['dni'].hasError('min'))
              && signupForm.controls['dni'].touched "
            >
              El DNI debe tener entre 7 y 8 dígitos
            </ion-note>
          </div>
          <div *ngIf="verCuil">
            <ion-item>
              <ion-icon name="id-card"></ion-icon>
              <ion-input
                type="text"
                name="cuil"
                id="cuil"
                placeholder="CUIL"
                formControlName="cuil"
              ></ion-input>
            </ion-item>
            <ion-note
              class="error-message"
              *ngIf=" signupForm.controls['cuil'].hasError('required') && signupForm.controls['cuil'].touched "
            >
              Debe ingresar un CUIL válido
            </ion-note>
            <ion-note
              class="error-message"
              *ngIf=" signupForm.controls['cuil'].hasError('min') && signupForm.controls['cuil'].touched "
            >
              El CUIL debe tener al menos 10 dígitos
            </ion-note>
            <ion-note
              class="error-message"
              *ngIf=" signupForm.controls['cuil'].hasError('max') && signupForm.controls['cuil'].touched "
            >
              El DNI debe tener menos de 12 dígitos
            </ion-note>
          </div>
          <div *ngIf="verEmail">
            <ion-item>
              <ion-icon name="mail-open"></ion-icon>
              <ion-input
                type="email"
                name="email"
                id="email"
                placeholder="Correo Electrónico"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ion-note
              class="error-message"
              *ngIf="
          (signupForm.controls['email'].hasError('email') ||
          signupForm.controls['email'].hasError('required')) &&
          signupForm.controls['email'].touched
        "
              >Debe ingresar un correo válido
            </ion-note>
          </div>
          <div *ngIf="verTipoEmpleado">
            <ion-item>
              <ion-icon name="people"></ion-icon>
              <ion-select formControlName="tipoEmpleado" placeholder="Tipo de Empleado">
                <ion-select-option  value="Bartender">Bartender</ion-select-option>
                <ion-select-option  value="Cocinero">Cocinero</ion-select-option>
                <ion-select-option  value="Dueño">Dueño</ion-select-option>
                <ion-select-option  value="Maitre">Maitre</ion-select-option>
                <ion-select-option  value="Mozo">Mozo</ion-select-option>
                <ion-select-option  value="Supervisor">Supervisor</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-note class="error-message"
              *ngIf="(signupForm.controls['tipoEmpleado'].hasError('required')) && signupForm.controls['tipoEmpleado'].touched" >
              Debe seleccionar un tipo de empleado
            </ion-note>
          </div>
          <div *ngIf="verPassword">
            <ion-item>
              <ion-icon name="lock-open"></ion-icon>
              <ion-input
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña"
                formControlName="password"
              ></ion-input>
            </ion-item>
            <ion-note
            class="error-message"
            *ngIf="
            (signupForm.controls['password'].hasError('required')) &&
            signupForm.controls['password'].touched
          "
          >
            Debe ingresar una contraseña
          </ion-note>
          <ion-note
          class="error-message"
          *ngIf=" signupForm.controls['password'].hasError('minlength') && signupForm.controls['password'].touched "
        >
          La contraseña debe tener al menos 6 caracteres
        </ion-note>

          </div>
          <div *ngIf="verPassword">
            <ion-item>
              <ion-icon name="lock-closed"></ion-icon>
              <ion-input
                type="password"
                name="passwordRep"
                id="passwordRep"
                placeholder="Repetir Contraseña"
                formControlName="passwordRep"
              ></ion-input>
            </ion-item>
            <ion-note class="error-message"
            *ngIf="signupForm.controls['passwordRep'].touched ">
              {{getPasswordRep?.getError('noCoincide')}}
          </ion-note>
          </div>
          <ion-button
            type="submit"
            expand="block"
            color="secondary"
            [innerText]="tituloBoton"
          >
          </ion-button>
        </form>
      </div>
    </ion-card-content>
  </div>
</body>
