<app-nav-bar  [titulo]="'Alta de Usuarios'" ></app-nav-bar>

<body class="centrado">
  <div class="container">
    <ion-card-header style="align-items: center; margin-top: 30px; min-width: 0; min-height: 0;">
      <div (click)="tomarFoto()" class="image-container">
        <img [src]="imageTomadaURL" alt="Imagen Tomada"/>
      </div>
      <ion-note *ngIf="imageTomadaURL === '../../../assets/img/whoAmI.png'">Tomar Foto</ion-note>
      <!-- <ion-icon name="camera-outline" size="large"></ion-icon> -->
    </ion-card-header>
    <ion-button color="warning" (click)="startScan()">
      <ion-icon name="barcode-outline"></ion-icon><b>Escanear DNI</b>
    </ion-button>
    <div class="custom-spinner" *ngIf="isLoading">
      <img src="../../../assets/icon-only.png" alt="Spinner" />
    </div>
    <ion-card-content>
      <div class="wrapform">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
          <ion-item>
            <ion-icon name="pencil-outline"></ion-icon>
            <ion-input
              type="text"
              name="apellido"
              id="apellido"
              placeholder="Apellido"
              formControlName="apellido"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="pencil-outline"></ion-icon>
            <ion-input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre"
              formControlName="nombre"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="id-card-outline"></ion-icon>
            <ion-input
              type="text"
              name="dni"
              id="dni"
              placeholder="DNI"
              formControlName="dni"
            ></ion-input>

          </ion-item>
          <ion-item>
            <ion-icon name="mail-open-outline"></ion-icon>
            <ion-input
              type="email"
              name="email"
              id="email"
              placeholder="Correo Electrónico"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-open-outline"></ion-icon>
            <ion-input
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
              formControlName="password"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input
              type="password"
              name="passwordRep"
              id="passwordRep"
              placeholder="Repetir Contraseña"
              formControlName="passwordRep"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-checkbox
              slot="start"
              color="primary"
              ario-label="Admin"
              formControlName="esAdmin"
            ></ion-checkbox
            >Administrador
          </ion-item>
          <button
            type="submit"

            expand="block"
            class="button-71"
          >
            Guardar
          </button>
        </form>
        <!-- [disabled]="!signupForm.valid" -->
      </div>
    </ion-card-content>
  </div>
</body>

