
<ion-content>
<div class="profile-header">
    <ion-icon
    class="icon-volver"
    name="arrow-back-outline"
    (click)="volver()"
  ></ion-icon>
  <ion-avatar class="profile-avatar">
    <img [src]="usuario.foto" alt="Profile Picture">
  </ion-avatar>
  <!-- <ion-icon class="edit-icon" name="create-outline"></ion-icon> -->
  <h2 class="profile-name">Detalle de Pedido</h2>
</div>
  <ion-card>
    <ion-card-content>
      <div class="estado">
        <ion-label class="titulo">Estado de Pedido</ion-label>
        <ion-item class="box">
          <ion-avatar slot="start">
            <img class="rounded-image bordered-image" src="../../../assets/img/alimentosRojo.png"  />
          </ion-avatar>
          <ion-label >
            <ion-label class="estado {{colorEstado}}"><h2>{{estadoPedido}}</h2></ion-label>
            <ion-item  class="tiempo"  style="width: 100%; margin-left: 0; padding-left: 0;">
              <ion-icon color="primary"  name="timer-outline"></ion-icon>
              <ion-label *ngIf="queTiempo === 'Estimado'">Espera de {{pedido.tiempoEstimado}} min.</ion-label>
              <ion-label *ngIf="queTiempo === 'Restante'">Su pedido llegará en {{minutosFaltantes}} min.</ion-label>
              <ion-label *ngIf="queTiempo === 'Entregado'">Su ha sido entregado.</ion-label>
            </ion-item>
          </ion-label>
        </ion-item>
      </div>

        <ion-item>
          <ion-accordion-group expand="full" style="width: 100%;">
            <ion-accordion>
              <ion-item slot="header">
                <ion-label style="font-weight: bold;">Tu Pedido</ion-label>
              </ion-item>
              <ion-list slot="content" class="producto-item">
                <ion-item *ngFor="let producto of pedido.productos" lines="none">
                  <ion-avatar slot="start" class="producto-avatar">
                    <img class="bordered-image" src="{{producto.producto.fotos[0]}}"  />
                  </ion-avatar>
                  <ion-label class="producto-nombre">{{producto.producto.nombre}}</ion-label>
                  <div class="producto-detalles" >
                    <ion-label class="cantidad" slot="end">{{producto.cantidad}}x</ion-label>
                    <ion-label class="importe" slot="end">{{(producto.cantidad * producto.producto.precio) | monedaPesos}}</ion-label>
                  </div>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-item>
        <ion-item>
          <ion-label class="titulos" style="font-weight: bold;">Subtotal</ion-label>
          <ion-label class="importe bold" style="font-weight: bold;">{{subtotal | monedaPesos}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-accordion-group expand="full" style="width: 100%;">
            <ion-accordion>
              <ion-item slot="header">
                <ion-label style="font-weight: bold;">Tu Pago</ion-label>
              </ion-item>
              <ion-list slot="content" class="producto-item" lines="none">
                <ion-item>
                  <ion-label class="tituloImporte">Productos</ion-label>
                  <ion-label class="importe bold">{{subtotal | monedaPesos}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="tituloImporte">Descuentos</ion-label>
                  <ion-label class="importe">{{pedido.descuentoPorJuego}}%</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="tituloImporte">Propina</ion-label>
                  <ion-label class="importe">{{pedido.propina| monedaPesos}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="tituloImporte">Tarifa de Servicio</ion-label>
                  <ion-label class="importe">{{tarifaServicio | monedaPesos}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-item>
        <ion-item>
            <ion-label ><h1 class="titulos">Total</h1></ion-label>
            <ion-label ><h1 class="importe bold">{{total | monedaPesos}}</h1></ion-label>
        </ion-item>
        <ion-button [disabled]="botonDeshabilitado" expand="full" color="primary" (click)="accionPedido()">{{textoAccion}}</ion-button>
        <ion-item class="pagoQR">
          <ion-label >Si desea agregar Propina o pagar con QR, puede volver a utilizar nuestro lector.</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
