<body>
<ion-header>
  <ion-title>
    <h1>
      Yo voy a ser el nav bar
    </h1> 
  </ion-title>
  
</ion-header>

  <!-- por cada persona pendiente de la lista de personas pendientes de ingreso al local -->
  <ion-list class="items" [inset]="true" *ngFor="let element of listaUsuariosPendientes">
    <ion-item >
      <ion-label>
        <b>Soy una persona pendiente, me llamo {{element}}</b>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-tabs class="miTab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" style="color: #BF0000;">
        <ion-icon name="body"></ion-icon>
        Alta cliente
      </ion-tab-button>
      <ion-tab-button tab="list" style="color: #BF0000;">
        <ion-icon name="list"></ion-icon>
        Lista de espera
      </ion-tab-button>
      <ion-tab-button tab="table" style="color: #BF0000;">
        <ion-icon name="wine"></ion-icon>
        Asignar mesa
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</body>