body {
    background: url("../../../assets/img/otro-fondo-liso.png") no-repeat center center / cover;
  }

.mitab{
    background-color: #ffffffe0;
}

.items{   
    margin:10px ;
    background-color: rgba(0, 0, 0, 0);
    .item{
        --background: #ffffffcb;
    }
}