body {
    background: url("../../../assets/img/fondo-gris.png") no-repeat center center / cover;
  }

.mitab{
    background-color: #ffffffe0;
}

ion-col{
    background-color: #f5cece9a;
  border: solid 1px #BF0000;
  color: black;
  text-align: center;
}

.center-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
