<body>
<ion-header>
  <ion-title>
    Yo voy a ser el nav bar
  </ion-title>
  
</ion-header>

  <!-- por cada persona pendiente de la lista de personas pendientes de ingreso al local -->
  <ion-item *ngFor="let element of listaUsuariosPendientes">
    <ion-label ><b>Soy una persona pendiente, me llamo {{element}}</b></ion-label>
  </ion-item>
  <ion-tabs class="miTab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" style="color: #BF0000;">
        <ion-icon name="body"></ion-icon>
        Alta cliente
      </ion-tab-button>
      <ion-tab-button tab="list" style="color: #BF0000;">
        <ion-icon name="list"></ion-icon>
        Lista de espera
      </ion-tab-button>
      <ion-tab-button tab="table" style="color: #BF0000;">
        <ion-icon name="wine"></ion-icon>
        Asignar mesa
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</body>