<body>
  <ion-tabs class="miTab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" style="color: #BF0000;">
        <ion-icon name="body"></ion-icon>
        Alta cliente
      </ion-tab-button>
      <ion-tab-button tab="list" style="color: #BF0000;">
        <ion-icon name="list"></ion-icon>
        Lista de espera
      </ion-tab-button>
      <ion-tab-button tab="table" style="color: #BF0000;">
        <ion-icon name="wine"></ion-icon>
        Asignar mesa
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</body>