<body class="centrado">
  <div class="container">
    <ion-card-header style="align-items: center">
      <img src="../../../assets/img/login.png" class="header-image" />
    </ion-card-header>
    <ion-card-content>
      <div class="wrapform">
        <div class="custom-spinner" *ngIf="isLoading" >
          <img src="../../../assets/icon-only.png" alt="Spinner">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input
              type="email"
              name="email"
              id="email"
              placeholder="Correo Electrónico"
              formControlName="emailLogin"
            ></ion-input>
          </ion-item>
          <ion-note
            class="error-message"
            *ngIf="(loginForm.controls['emailLogin'].hasError('email') || loginForm.controls['emailLogin'].hasError('required')) && loginForm.controls['emailLogin'].touched"
          >
            Debe ingresar un correo válido
          </ion-note>
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
              formControlName="passwordLogin"
            ></ion-input>
          </ion-item>
          <ion-note
            class="error-message"
            *ngIf="
        (loginForm.controls['passwordLogin'].hasError('required')) &&
        loginForm.controls['passwordLogin'].touched"
          >
            Debe ingresar una contraseña
          </ion-note>
          <ion-button
            type="submit"
            [disabled]="!loginForm.valid"
            expand="block"
            class="btn-login"
            >Ingresar
          </ion-button>
          <ion-button
            type="button"
            expand="block"
            color="tertiary"
            (click)="irARegistrar()"
            >Registrarse
          </ion-button>
          <ion-button
            type="button"
            expand="block"
            class="btn-login"
            (click)="escanearDNI()"
            >Scan
          </ion-button>
        </form>
      </div>
    </ion-card-content>
  </div>
</body>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="loginAutomatico('admin')">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="loginAutomatico('invitado')">
      <ion-icon name="man-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="loginAutomatico('usuario')">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="loginAutomatico('anonimo')">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="loginAutomatico('tester')">
      <ion-icon name="bug-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
