.container {

  text-align: center;

  position: relative;
  left: 0;
  right: 0;
  top: 10vh;
  // transform: translateY(-50%);
}
.centrado {
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
}

body {
  position: relative;
  overflow: hidden; // Asegura que el pseudo-elemento no se desborde
  background: none; // Elimina el fondo del body para que solo se vea el pseudo-elemento
 }

 body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../assets/img/otro-fondo-liso.png") no-repeat center center / cover;
  // background: url("../../../assets/img/fondoLogin.webp") no-repeat center center / cover;
  // filter: blur(5px); // Ajusta el valor de blur según la cantidad de desenfoque deseada
  z-index: -1; // Asegura que el pseudo-elemento esté detrás del contenido
 }


.header-image {
  width: 35vh;
  height: auto;
  // margin-bottom: 20px;
}

.error-message-container {
  display: block; /* Asegura que el contenedor del mensaje de error se muestre como un bloque */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.formulario{
  background-color: #ffffffe0;
  // width: 100%;
  padding: 20px;
  border-radius: 10px;
  h1{
    color: #BF0000;
    font-size: 30px;
    // margin-bottom: 10px;
  }
  ion-icon{
    margin-right: 6px;
  }
}

form{
  ion-icon{
  margin-right: 10px;
  }
  
}
.btn-login{
  margin-top: 15px;
}
 ion-item {
  --ion-item-background: transparent !important;
  margin-top: 15px;
}
.horizontal-line {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}


.line {
  flex: 1;
  border-bottom: 2px solid #555454; /* Estilo de la línea */
}

.line-text {
  padding: 0 10px; /* Espaciado alrededor del texto */
  color: #555454;
  font-size: 15px;
}

// Hide all elements
body.barcode-scanner-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

// Show only the barcode scanner modal
.barcode-scanner-modal {
  visibility: visible;
}
ion-fab{
  position: fixed !important;
}

ion-fab-list{
  margin-inline-end: calc(100% + 1px) !important;
  ion-fab-button{
    margin-inline-start: 2px !important;
  }
}

@media (prefers-color-scheme: dark) {
  .barcode-scanner-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
