// ion-menu {
//   color: black;
// }
ion-title {
  color: black!important;
  font-weight: bold;
}

ion-label {
  color: black!important;
  font-weight: bold;
}


.menu-custom {
  --ion-background-color: transparent;
}
