ion-title {
  font-size: 1em;
  font-weight: bold;
}

span {
  font-size: large;
  font-weight: bold;
  color: #BF0000;
  margin-left: 10px;
  margin-right: 10px;
}

.rounded-image {
  border-radius: 50%;
}

.bordered-image {
  border: 2px solid #BF0000;
}



