<body>


 <ion-header><app-header></app-header> </ion-header>


    <ion-segment mode="ios" [(ngModel)]="selectedCategory" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="comida">
        <ion-label>Comida</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bebidas">
        <ion-label>Bebidas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="postres">
        <ion-label>Postres</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-content class="content">
      <div id="popover-button" class="floating-action-button" >
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
          <div style="flex-grow: 1; text-align: center;">
            <span>{{ subtotal  | monedaPesos }}</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
        </div>
      </div>

    <ion-list style=" overflow-y: auto; max-height: 70vh;">
    <ng-container *ngIf="selectedCategory === 'comida'">
      <ion-card *ngFor="let itemProd of listaDeTipoComida">
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <swiper-container
              pager="true"
              [loop]="true"
              [pagination]="true">
                <swiper-slide *ngFor="let imagen of itemProd.producto.fotos">
                  <img [src]="imagen" class="producto-imagen" />
                </swiper-slide>
              </swiper-container>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="producto-info">
              <div class="nombre-detalles">
                <h2>{{itemProd.producto.nombre}}</h2>
                <p><a id="open-modal" (click)="openModal(itemProd.producto)">Detalles</a></p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="item-end">
              <h2>${{itemProd.producto.precio}}   <ion-icon color="primary" name="flash" class="price-icon"></ion-icon>{{itemProd.producto.tiempoPreparacionEnMinutos}} min
              </h2>
              <div class="quantity-controls">
                <ion-button fill="clear" size="small" (click)="decrementarCantidad(itemProd, 'Comida')">
                  <ion-icon name="trash-bin-outline"></ion-icon>
                </ion-button>
                <ion-label>{{itemProd.cantidad}}</ion-label>
                <ion-button fill="clear" size="small" (click)="incrementarCantidad(itemProd, 'Comida')">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ng-container>
    </ion-list>



  <ion-list style=" overflow-y: auto; max-height: 70vh;">
  <ng-container *ngIf="selectedCategory === 'bebidas'">
    <ion-card *ngFor="let itemProd of listaDeTipoBebida" >
      <ion-card-content color="#ffeeee">
        <ion-row>
          <ion-col size="12">
            <swiper-container pager="true"
            [loop]="true"
            [pagination]="true">
              <swiper-slide *ngFor="let imagen of itemProd.producto.fotos">
                <img [src]="imagen" class="producto-imagen" />
              </swiper-slide>
            </swiper-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="producto-info">
            <div class="nombre-detalles">
              <h2>{{itemProd.producto.nombre}}</h2>
              <p><a id="open-modal" (click)="openModal(itemProd.producto)">Detalles</a></p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="item-end">
            <h2>${{itemProd.producto.precio}}   <ion-icon color="primary" name="flash" class="price-icon"></ion-icon>{{itemProd.producto.tiempoPreparacionEnMinutos}} min</h2>
            <div class="quantity-controls">
              <ion-button fill="clear" size="small" (click)="decrementarCantidad(itemProd, 'Bebida')">
                <ion-icon name="trash-bin-outline"></ion-icon>
              </ion-button>
              <ion-label>{{itemProd.cantidad}}</ion-label>
              <ion-button fill="clear" size="small" (click)="incrementarCantidad(itemProd, 'Bebida')">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-list >

  <ion-list style=" overflow-y: auto; max-height: 70vh;">
  <ng-container *ngIf="selectedCategory === 'postres'">
    <ion-card *ngFor="let itemProd of listaDeTipoPostre">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <swiper-container [loop]="true"
            [pagination]="true" pager="true">
              <swiper-slide *ngFor="let imagen of itemProd.producto.fotos">
                <img [src]="imagen" class="producto-imagen" />
              </swiper-slide>
            </swiper-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="producto-info">
            <div class="nombre-detalles">
              <h2>{{itemProd.producto.nombre}}</h2>
              <p><a id="open-modal" (click)="openModal(itemProd.producto)">Detalles</a></p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="item-end">
            <h2>${{itemProd.producto.precio}}   <ion-icon color="primary" name="flash" class="price-icon"></ion-icon>{{itemProd.producto.tiempoPreparacionEnMinutos}} min</h2>
            <div class="quantity-controls">
              <ion-button fill="clear" size="small" (click)="decrementarCantidad(itemProd, 'Postre')">
                <ion-icon name="trash-bin-outline"></ion-icon>
              </ion-button>
              <ion-label>{{itemProd.cantidad}}</ion-label>
              <ion-button fill="clear" size="small" (click)="incrementarCantidad(itemProd, 'Postre')">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-list >
  </ion-content>



    <ion-modal #modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()">
      <ng-template>
      <ion-header style="background-color: #BF0000;">
      <ion-toolbar style="background-color: #BF0000;">
        <ion-title >{{ selectedProduct?.nombre }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="detalle-producto">
      <ion-card>
        <ion-card-content>
          <p>Precio: {{ selectedProduct?.precio! | monedaPesos }}</p>
          <p>Tiempo de preparación: {{ selectedProduct?.tiempoPreparacionEnMinutos }} minutos</p>
          <p>{{ selectedProduct?.descripcion }}</p>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>

</ion-modal>


</body>







<ion-popover trigger="popover-button"
  triggerAction="click"
  [dismissOnSelect]="true"
  [animated]="true"
  side="bottom"
  alignment="end"
  mode="ios">
  <ng-template>
    <ion-content >
      <ion-list>
        <ion-item  [button]="true" [detail]="false" (click)="VerDetalle()">
          <ion-icon color="primary" name="newspaper"></ion-icon>
          <ion-label style="padding: 10px;">Ver Detalle</ion-label>
        </ion-item>
        <ion-item *ngIf="PedirCuenta" [button]="true" [detail]="false" (click)="PedirCuenta()">
          <ion-icon color="primary" name="wallet"></ion-icon>
          <ion-label style="padding: 10px;">Pedir Cuenta</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
