body {
    background: url("../../../assets/img/fondo-gris.png") no-repeat center center / cover;
  }


ion-header {
  ion-toolbar {
    ion-title {
      text-align: center;

    }
  }
}

 ion-segment {
    margin-top: 5px;
  }

 ion-segment-button {
  --indicator-color: #BF0000;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: #BF0000;
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: #BF0000;
  --color-checked: #fff;
  --border-radius: 20px;
}




ion-card {
  ion-card-content {
    .producto-imagen {
      //width: 340px;
      height: 171px;
      object-fit: cover;
      display: block;
      margin: 0 auto;
      width: -webkit-fill-available;
    }

    .producto-info {
      text-align: center;
      padding: 7px 0;

      .nombre-detalles {
        h2 {
          font-size: x-large;
          color: black;
          margin: 0 0 5px 0;
          font-weight: bolder;
        }

        p {
          margin: 0;

          a {
            text-decoration: underline;
            color: var(--ion-color-primary);
          }
        }
      }
    }

    .item-end {
      text-align: center;
      padding: 7px 0;

      h2 {
        font-size: 18px;
        margin: 0 0 10px 0;
      }

      .quantity-controls {
        display: inline-flex;
        align-items: center;
        border: black solid 1px;
        border-radius: 5%;
        height: 35px;
        padding: 0 5px;

        ion-button {
          padding: 5px;

          ion-icon {
            font-size: 20px;
          }
        }

        ion-label {
          width: auto;
          text-align: center;
          padding: 0 5px;
        }
      }
    }
  }
}

  ion-content{
    --background: url("../../../assets/img/fondo-gris.png") no-repeat center center / cover;
}

ion-modal{
  --height: 20%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    ion-button{
        border: black solid 1px;
        border-radius: 10%;
        background-color: whitesmoke;
    }
    ion-card{
        --background: #92343463;
        --color: #000000;
    }

    p{
      font-size: 16px;
      color: #000000;
    }
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #BF0000;
  --color: rgb(0, 0, 0);
}

ion-row{
  align-items: center;
}

// .content{
//   overflow-y: hidden;
//   height: calc(100% - 52px);
// }
ion-list {
  background-color: transparent !important;
}


swiper-container {
  width: 100%;
  height: 100%;

  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, black);
  --swiper-pagination-color: var(--ion-color-primary, #BF0000);
}

