<!-- <app-nav-bar ></app-nav-bar> -->
<app-header> </app-header>
<body>
  <div *ngIf="esDuenio || esSupervisor">
    <app-list-usuarios (EnviarIsLoading)="recibirIsLoading($event)"></app-list-usuarios>
  </div>
  <div *ngIf="esCliente || esAnonimo">
    <!-- Listado de productos -->
    <app-lista-encuestas></app-lista-encuestas>
  </div>
  <div *ngIf="esBartender">
    <!-- Listado de pedidos pendientes -->
  </div>
  <div *ngIf="esCocinero">
    <!-- Listado de pedidos pendientes -->
  </div>
  <div *ngIf="esMaitre">
    <!-- Listado de Clientes y Anonimos en lista de espera -->
    <app-home-maitre></app-home-maitre>
  </div>
  <div *ngIf="esMozo">
    <!-- Listado de Pedidos a Aprobar -->
  </div>
</body>

<div class="custom-spinner" *ngIf="isLoading" >
  <img src="../../../assets/spinner.png" alt="Spinner">
</div>
