ion-content {
  --background: url("../../../assets/img/fondo-gris.png") no-repeat center
    center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bf0000;
  padding: 20px 20px;
  color: white;
  p {
    margin: 0px;
  }
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 1.5em;
  //font-weight: bold;
}

.icon-volver {
  position: absolute; /* Cambia a posicion absoluto */
  top: 10px; /* Ajusta la distancia desde la parte superior */
  left: 10px; /* Ajusta la distancia desde el borde izquierdo */
  color: antiquewhite;
  font-size: 30px;
}

ion-col {
  margin-bottom: 30px;
  //background-color: white;
  color: black;
}

.container-chart {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

ion-title {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: darkslateblue;
  background-color: rgba(255, 255, 255, 0.555);
}



