ion-header {
    ion-toolbar {
      ion-title {
        text-align: center;
      }
    }
  }

  ion-segment {
    ion-segment-button {
      ion-label {
        font-size: 16px;
      }
    }
  }
  
  ion-content {
    height: 100vh;
    ion-card {
      margin: 10px;
      swiper-container {
        height: 200px;
        swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
      ion-card-content {
        ion-card-title {
          text-align: center;
          font-size: 18px;
          margin-bottom: 10px;
        }
        ion-button {
          margin: 10px 0;
          display: block;
          width: 100%;
        }
        ion-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }