
.rounded-image {
  border-radius: 50%;
}

.bordered-image {
  border: 2px solid #BF0000;
}


.custom-ion-list {
  //position: absolute; /* Posiciona absolutamente para controlar la posición desde el borde más cercano con posición relativa */
  //top: 80px; /* Alinea el inicio de la lista en la parte superior de la pantalla */
  left: 20; /* Alinea el inicio de la lista al borde izquierdo de la pantalla */
  right: 20; /* Alinea el fin de la lista al borde derecho de la pantalla */
  height: 95vh; /* Ocupa toda la altura de la ventana de visualización */
  overflow-y: auto; /* Permite desplazamiento si el contenido excede la altura de la ventana */
  --ion-background-color: #ffffff9b!important;
  --ion-background-color-opacity: 0.9!important;
  font-weight: bold;

  margin: 40px 30px ;

  ion-list-header {
    text-align: center;
  }
}
