<ion-list class="custom-ion-list">
  <ion-list-header>
    <ion-label>Pendientes de Aprobación</ion-label>
  </ion-list-header>
  <div *ngFor="let usr of usuariosPendientes">
    <ion-item (click)="onClick(usr)">
      <ion-avatar slot="end">
        <img
          class="rounded-image bordered-image"
          [src]="usuario?.foto"
          width="40"
          height="40"
        />
      </ion-avatar>
      <ion-label>{{usr.nombre}} {{usr.apellido}}</ion-label>
    </ion-item>
  </div>
</ion-list>
